// Utilities

.cursor-pointer {
    cursor: pointer;
}

// 
.text-color {
    color: $text-color;
}

.text-light {
    color: $text-light;
}

.fw-bold {
    font-weight: bold;
}

.fw-semibold {
    font-weight: 500;
}